@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"),
  url(../fonts/roboto.woff) format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format("woff2"),
  url(../font/robotobold.woff) format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2) format("woff2"),
  url(../fonts/robotomedium.woff) format("woff");
}

:root {
  --basic-white: #ffffff;
  --basic-ford-dark: #323232;
  --basic-light-grey: #5A5A5A;
  --basic-grey: #999999;
  --basic-black: #000000;
  --basic-light-coral: #ffbc9e;
  --basic-scarlet: #f26843;
  --basic-orange: #f74a35;
  --basic-purple: #ac1000;
  --basic-dark-red: #942718;
  --basic-grey-green: #849d8f;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background: linear-gradient(180deg, var(--basic-scarlet) 0%, var(--basic-orange) 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-grey-green);
}

.main-nav__list,
.subsection-catalog,
.user-navigation__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.main-nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.subsection-catalog__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-ford-dark);
}
.login__link,
.basket__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}
.basket__link--number {
  color: var(--basic-ford-dark);
}
.page-header__footer-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}
.page-header__footer-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: var(--basic-white);
}
.slider__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.slider__btn {
  display: block;
  width: 278px;
  height: 63px;
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--basic-white);
  border: none;
  outline: none;
  cursor: pointer;
}
.slider__btn:focus, .slider__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--basic-scarlet) 0%, var(--basic-orange) 100%);
  box-shadow: 0px 2px 2px var(--basic-purple);
}
.slider__btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, var(--basic-scarlet) 0%, var(--basic-orange) 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.banner__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.banner__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}
.banner__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
}
.banner__link {
  display: inline-block;
  height: 48px;
  padding-right: 22px;
  padding-left: 22px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 48px;
  color: var(--basic-white);
}
.banner__link:focus, .banner__link:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--basic-scarlet)  0%, var(--basic-orange) 100%);
  box-shadow: 0px 1px 2px var(--basic-purple);
  border-radius: 26px;
}
.banner__link:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, var(--basic-scarlet)  0%, var(--basic-orange) 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
  border-radius: 26px;
}

.catalog__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.product__title a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}
.product__title a:active,
.product__title a:focus,
.product__title a:hover {
  color: var(--basic-light-coral);
}
.product__button {
  display: inline-block;
  width: 200px;
  height: 44px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  color: var(--basic-white);
}
.product__button:focus, .product__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--basic-scarlet)  0%, var(--basic-orange) 100%);
  box-shadow: 0px 1px 2px var(--basic-purple);
  border-radius: 26px;
}
.product__button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, var(--basic-scarlet)  0%, var(--basic-orange) 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
  border-radius: 26px;
}
.product__price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.product__kg {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: var(--basic-white);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.promo__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.promo__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-ford-dark);
}
.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-ford-dark);
}

.blog__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-ford-dark);
}
.blog__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-ford-dark);
}
.blog__link:hover {
  color: var(--basic-light-coral);
}
.message__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-light-grey);
}
.label-field {
  color: transparent;
}
.message__form input {
  margin-top: 37px;
  margin-left: 22px;
  width: 368px;
  height: 45px;
  background: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
}
.message__form input[placeholder="Электронная почта"] {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey);
}
.message__form input:focus[placeholder="Электронная почта"] {
  color: var(--basic-grey);
  outline: 0px;
  border-color: rgb(46, 136, 228);
}
.message__form input:hover {
  background: var(--basic-white);
  border: 2px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}
.message__btn {
  width: 130px;
  height: 44px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 44px;
  color: var(--basic-white);
  cursor: pointer;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
  outline: none;
}
.message__btn:focus, .message__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--basic-scarlet) 0%, var(--basic-orange) 100%);
  box-shadow: 0px 1px 2px var(--basic-purple);
  border-radius: 26px;
}
.message__btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, var(--basic-scarlet) 0%, var(--basic-orange) 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
  border-radius: 26px;
}


.adress__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-ford-dark);
}
.adress__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-ford-dark);
}
.address__btn {
  display: block;
  width: 253px;
  height: 43px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 43px;
  color: var(--basic-white);
  cursor: pointer;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
  outline: none;
}
.address__btn:focus, .address__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--basic-scarlet) 0%, var(--basic-orange) 100%);
  box-shadow: 0px 1px 2px var(--basic-purple);
  border-radius: 26px;
}
.address__btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, var(--basic-scarlet) 0%, var(--basic-orange) 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
  border-radius: 26px;
}

.social__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.about-us__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.about-us__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}
.about-us__text--vendor {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.copyright__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}
.copyright__text a {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-white);
}

/*Хлебные крошки*/

.breadcrumbs__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}
.breadcrumbs__current {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

/*Фильтр товара*/

.form__fieldset {
  border: none;
  padding: 0px;
}
.sorting__name,
.fat__name,
.filler__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}
.sorting__select {
  width: 196px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
.sorting__select:focus,
.sorting__select:hover {
  color: var(--basic-ford-dark);
}
.cost__controls input {
  width: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  background: var(--basic-grey-green);
  border: 0px;
  outline: none;
}
.cost__min-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}
.fat__inner {
  width: 425px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.filler__inner {
  width: 711px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.filler__inner label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.form__button {
  width: 144px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.form__button:focus,
.form__button:hover {
  color: var(--basic-ford-dark);
  background-color: var(--basic-white);
}

/*Пагинация*/

.pagination__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.pagination__item button {
  width: 26px;
  height: 26px;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-grey-green);
  border: none;
  border-radius: 50%;
  outline: none;
}
.pagination__item-active button {
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--basic-ford-dark);
  background-color: var(--basic-white);
  border: 0px;
  outline: none;
  border-radius: 50%;
}
.pagination__item button:focus,
.pagination__item button:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
